.loginbox {
    box-shadow: 0 0 5px black;
    margin-left: 200px;
    margin-right: 200px;
    text-align: -webkit-center;
}

.formbox {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}
